# **<span style="color:orange">Data Analysis on Rainfall Dataset</span>**

### Required Libraries.....................................................

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## **<span style="color:yellow">Loading Dataset</span>**

In [18]:
data = pd.read_csv('rainfall.csv')
data.head()

         date  rainfall  temperature  humidity  wind_speed weather_condition
0  2022-01-01      12.5         15.2      78.0         8.5             Rainy
1  2022-01-02       8.2         17.8      65.0         5.2             Rainy
2  2022-01-03       0.0         20.1      52.0         3.1             Sunny
3  2022-01-04       3.7         18.6      71.0         6.7             Rainy
4  2022-01-05      21.1         14.8      82.0         9.3             Rainy

## **<span style="color:yellow">Handling Null Values</span>**

### **Checking is there any Null value or not**

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               54 non-null     object
 1   rainfall           53 non-null     float64
 2   temperature        53 non-null     float64
 3   humidity           53 non-null     float64
 4   wind_speed         53 non-null     float64
 5   weather_condition  53 non-null     object
dtypes: float64(4), object(2)
memory usage: 2.7+ KB

### **We have some Null values. so we need to remove those tuples**

In [22]:
data.dropna(inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53 entries, 0 to 52
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               53 non-null     object
 1   rainfall           53 non-null     float64
 2   temperature        53 non-null     float64
 3   humidity           53 non-null     float64
 4   wind_speed         53 non-null     float64
 5   weather_condition  53 non-null     object
dtypes: float64(4), object(2)
memory usage: 2.9+ KB

**<span style="color:red">Now we successfully remove Null values.</span>**

<ul>
    <li>Previously we Have 54 tuples and one of them have Null values.</li>
    <li>Now we have 53 tuples without any Null values.</li>
</ul>



<ul>
    <li>We used <b>.info()</b> for check Null value was there or not.</li>
    <li>then we used <b>.dropna()</b> for remove Null values from data.</li>
</ul>

## **<span style="color:yellow">Handling Duplicate tuple</span>**

In [26]:
print("Total number of duplicate tuples : ",data.duplicated().sum())

Total number of duplicate tuples :  0

**<span style="color:red">There is no duplicate tuples</span>**

<ul>
    <li>We used <b>.duplicated().sum()</b> for check Duplicate value was there or not.</li>
</ul>

<br>
<br>
<br>

## **<span style="color:yellow">Convert Object type date to time series date</span>**

In [27]:
data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d')
data.head()

        date  rainfall  temperature  humidity  wind_speed weather_condition
0 2022-01-01      12.5         15.2      78.0         8.5             Rainy
1 2022-01-02       8.2         17.8      65.0         5.2             Rainy
2 2022-01-03       0.0         20.1      52.0         3.1             Sunny
3 2022-01-04       3.7         18.6      71.0         6.7             Rainy
4 2022-01-05      21.1         14.8      82.0         9.3             Rainy

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

## **<span style="color:yellow">Start Analysis</span>**

In [42]:
data[['rainfall','temperature','humidity','wind_speed']].describe()

        rainfall  temperature   humidity  wind_speed
count  53.000000    53.000000  53.000000   53.000000
mean    9.049057    17.950943  69.245283    6.403774
std     6.712521     2.500663  11.969361    2.209069
min     0.000000    13.900000  44.000000    2.100000
25%     3.900000    16.100000  62.000000    4.700000
50%     8.300000    17.800000  72.000000    6.700000
75%    14.800000    19.400000  78.000000    8.300000
max    21.800000    23.400000  89.000000   10.500000